@tailwind base;
@tailwind components;
@tailwind utilities;


/* NAVIGATION BAR */
.navbar {
  background-color: antiquewhite;
}

.nav-div-container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.nav-div-section {
  width: 45%;
  display: block;
}

.nav-item-left {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  margin-top: 0;
  justify-content: left;
  font-size: large;
  font-weight: 500;
}

.nav-item-right {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  margin-top: 0;
  justify-content: right;
  font-size: large;

}

.nav-link {
  padding: 0 1em;
}

a:hover{
  text-decoration: underline;
}

/* MAIN PAGE */
.hero-container{
  display: block;
  height: 70vmin;
  margin-top: 1;
}

.hero {
  display: block;
  min-height: 50%;
  background: center/cover  no-repeat url("./img/hero_pic.jpg");
  background-position-y: 25%;
  h1 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
    padding-top: 1.5em;
    color: rgb(211, 234, 255);
  }
}
